html
{ height: 100%;}

html {
  scroll-behavior: smooth; 
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  width: 100%;
}

#site_content {
  align-items: center;
  padding: 20px;
  margin: 0 auto; 
  background-color: #f9f9f9; 
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 1200px; 
  width: 100%; 
  box-sizing: border-box; 
}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'Jost', sans-serif;
  background-image: url("fondo1.jpg"); 
  background-size: 200%;  
  background-position: center; 
  background-repeat: no-repeat;   
  color: #000;
}

#map {
  width: 10px;
  height: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

#logo
{
  width: 20px;
  height: 20px;
}

#portada
{
  display: inline-block;
  width: 50%;
  height: 50%;
}

#portadaFoto
{
  border-radius: 10px;
  width: 500px;
  height: 500px;
  margin-left: 50px;
}


#desc {
  display: inline-block;
  color: rgb(0, 0, 0);  
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  width: 80%; 

}

#description{
  width: 50%;
  height: 50%;
  border: 2px solid red;
}


#contenidos{
  display: flex;
  justify-content: center; 
  gap: 20px;
  border: 2px solid blue;
}

#bloque{
  display: flex;
  width: 100%; 
  align-items: center;
  border: 2px solid purple;
}

#menus {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 1px; 
  margin: 0 auto; 
}

.menu-item {
  width: 290px; 
  height: auto; 
}

.misImagenesPlato
{
  width: 25vh;
}


h1, h2, h3, h4, h5, h6 
{ font: normal 175% 'Jost', sans-serif;
  color: #000;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 175%  'Jost', sans-serif;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% 'Jost', sans-serif;}

h5, h6
{ font: italic 95% 'Jost', sans-serif;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #000;}

a:hover
{ text-decoration: none;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: inline-block;
  text-align: center;
  margin: 20px auto;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: transparent;
  height: 202px;}

#logo
{ width: 100px;
  position: relative;
  height: 100px;
}

#logob
{ width: 100px;
  height: 100px;
}

#logo h1, #logo h2
{ font: normal 300% 'Jost', sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;
}

#logo_text h1 a .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: #FFF;}

#menubar
{ height: auto;
  padding: 0 24px 0 20px;
  background: black; 
  background-position: center; 
} 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% 'Jost', sans-serif;
  font-size: 13px;
  display: inline-block; 
  height: 17px;
  margin: 35px 0 0 10px;
  padding: 9px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

ul#menu li a:hover
{ color: #9f1a1a;}



.sidebar
{ float: right;
  width: 210px;
  padding: 0 15px 20px 15px;}

.sidebar ul
{ width: 198px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 40px;
  display: inline-block;
  background: transparent url(link.png) no-repeat left center;} 

.sidebar li a.selected
{ color: #7E2451;
  text-decoration: none;} 

#content
{ text-align: left;
  float: left;
  width: 595px;
  padding: 0;}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 1500px;
  font: normal 100% 'Jost', 'Jost', sans-serif;
  height: 35px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: transparent;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: underline;}

.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% 'Jost', sans-serif;}

#colours
{ height: 0px;
  text-align: right;
  padding: 66px 16px 0px 300px;}
  
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% 'Jost'; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% 'Jost'; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #000; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% 'Jost'; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #F0EFE2;
  color: #47433F;
  border-top: 1px solid #FFF;}





/* HORARIO Y UBICACION */
#horario-ubicacion {
  display: inline-block;
  width: 100%; 
  vertical-align: top;
  border: 2px solid orange; 

}

#info-horario {
  flex: 1;
  max-width: 45%;
}


#info-horario h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}

#info-horario p {
  font-size: 1.2rem;
  color: #555;
}

#info-horario hr {
  margin: 15px 0;
  border: 0;
  border-top: 1px solid #ddd;
}


#contactos {
  list-style: none;
  padding: 0;
}

#contactos li {
  display: inline-block;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #444;
}

#contactos img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Mapa */
#map-container {
  flex: 1;
  max-width: 50%;
}

#map {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  border: 1px solid #ddd;
}




/*COMENTARIOS*/
#comments-section {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

#comments-list {
  margin-bottom: 20px;
}

.comment {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.comment strong {
  font-size: 1.1em;
}

.comment span {
  color: #888;
  margin-left: 10px;
}

#comment-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#comment-form label {
  font-weight: bold;
}

#comment-form input, #comment-form select, #comment-form textarea, #comment-form button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#comment-form button {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

#comment-form button:hover {
  background-color: #9f1a1a;
}

