{% load static %}

<!DOCTYPE HTML>
<html>

<head>
  <title>Mamma Mia Restaurante</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" title="style" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

  <!-- FUENTES -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Jost -->
  <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel+Decorative:wght@400;700;900&family=Comfortaa:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <!-- Domine -->
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel+Decorative:wght@400;700;900&family=Comfortaa:wght@300..700&family=Domine:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <div id="main">
    <div id="header">            
      <br>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="{% url 'listaM' %}">Home</a></li>
          <li><a href="#menus">Menus</a></li>
          <li><a href="#comments-section">Reseñas</a></li>
          <li><a href="#horario-ubicacion">Horarios</a></li>
        </ul>
        <div id="logo">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <img id="logob" src="{% static 'style/logoBlanco.png' %}" alt="logoBlanco">
      </div>  
      </div>
    </div>

    <div id="site_content">
      <br><br><br>

      <div id="bloque"> 
        <div id="portada">
          <img id="portadaFoto" src="{% static 'style/portada.jpeg' %}" alt="portada">
        </div>

        <div id="description">
          <h1 id="titu"> Mamma Mia Restaurante</h1>
          <p id="desc">Mamma Mia nace del amor por Italia, su rica tradición culinaria y su cálida manera de vivir la vida. Cada plato de pasta, elaborado con dedicación, 
          busca transportarte a momentos entrañables en torno a una mesa, rodeado de risas, familia y buenos amigos. <br><br>
          Mamma Mia es hogar, es vecindario, y aspira a ser el rincón donde disfrutes de la auténtica cocina italiana, servida con pasión y un toque de cariño. 
          Desde nuestra cocina artesanal, queremos invitarte a formar parte de este delicioso viaje que combina sabores, emociones y memorias inolvidables. 
          <br><br> Benvenuti a casa!
          </p>
        </div>
      </div>

      <br>
      <hr>
      <br>


      <div id="menus">
        {% for menu in lista_menus %}
            <a href="{% url 'detalleMENUConPlantillas' menu.id %}#contenidos">
                <img class="menu-item" src="{% static 'style/' %}{{ menu.nombre }}.jpg" alt="{{ menu.nombre }}">
            </a>
        {% endfor %}
      </div>

      <br>

      
      {%block contenido%} {%endblock%}

    


      <div id="comments-section">
        <h2>───── Reseñas ─────</h2>
      
        <!-- Lista de comentarios existentes -->
        <div id="comments-section-union">
          <div id="comments-list">
            <div class="comment">
              <strong>Juan P.:</strong> 
              <span>⭐⭐⭐⭐⭐ Muy bueno</span>
              <p>Sitio muy recomendable para disfrutar de la comida italiana, productos de calidad con una atención muy agradable.
                Fácil aparcamiento.
                Sin duda para repetir.</p>
            </div>
            <div class="comment">
              <strong>María H.:</strong> 
              <span>⭐⭐⭐ Normal</span>
              <p>Las pizzas no están mal, la carta es variada y tienen pizzas al metro que salen más económicas pero el servicio... no es muy profesional.</p>
            </div>
            <div class="comment">
              <strong>Daniela O.:</strong> 
              <span>⭐⭐⭐⭐ Bueno</span>
              <p>¡¡Buenisimo!! Lo único malo es que no hay tantos restaurantes como quisiera</p>
            </div>
          </div>
          
        
          <!-- Formulario para agregar comentarios -->
          <div id="comment-form">
            <form id="add-comment-form">
              <label for="name">Nombre:</label>
              <input type="text" id="name" placeholder="Escribe tu nombre" required>
        
              <label for="rating">Valoración:</label>
              <select id="rating" required>
                <option value="" disabled selected>Selecciona una valoración</option>
                <option value="⭐ Muy malo">⭐ Muy malo</option>
                <option value="⭐⭐ Malo">⭐⭐ Malo</option>
                <option value="⭐⭐⭐ Normal">⭐⭐⭐ Normal</option>
                <option value="⭐⭐⭐⭐ Bueno">⭐⭐⭐⭐ Bueno</option>
                <option value="⭐⭐⭐⭐⭐ Muy bueno">⭐⭐⭐⭐⭐ Muy bueno</option>
              </select>
        
              <label for="comment">Comentario:</label>
              <textarea id="comment" rows="4" placeholder="Escribe tu comentario aquí" required></textarea>
        
              <button type="button" id="submit-comment">Comentar</button>
            </form>
          </div>
        </div>
      </div>

      <br>

      <div id="horario-ubicacion">
        <h2>───── Horario y Ubicación ─────</h2>
        <div class="horario-union"> 
          <div id="info-horario">
            <div id="horario-horas">
              <p><strong>Lunes a Viernes:</strong> 13:00-16:00 / 20:00-23:00</p>
              <p><strong>Sábados y Domingos:</strong> 12:00-16:00 / 19:00-01:00</p>
              <p><strong>Festivos:</strong> 13:00-16:00</p>
            </div>
          </div>
          <div id="map-container">
            <div id="map" style="width: 100%; height: 300px; margin-top: 20px;"></div>
          </div>
        </div>
        <hr>
        <ul id="contactos">
          <li><img src="{% static 'style/instagram_icon.png' %}" alt="Instagram"><a href="https://www.instagram.com">@mammamiarestaurante</a></li>
          <li><img src="{% static 'style/x_icon.png' %}" alt="X"><a href="https://www.x.com">@mamma_mia_restaurante</a></li>
          <li><img src="{% static 'style/whatsapp_icon.png' %}" alt="WhatsApp"><a href="https://www.whatsapp.com/">+34 624 138 246</a></li>
        </ul>
      </div>
        
    </div>



    <div id="footer">
      Copyright &copy; Mamma Mia Restaurante 
    </div>

    
  </div>


<!-- MAPA FOOTER-->
<script>

  //MAPA
  function initMap() {
      
      const map = L.map('map').setView([43.262907, -2.947408], 17);

      
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '© OpenStreetMap contributors'
      }).addTo(map);

      
      addMarker(map, [43.262907, -2.947408], 'Bilbao: San Mamés');
      addMarker(map, [43.462442, -3.799009], 'Santander: Paseo de Pereda');
      addMarker(map, [42.816590, -1.643463], 'Pamplona: Plaza del Castillo');
  }

  
  function addMarker(map, coordinates, popupText) {
      const marker = L.marker(coordinates).addTo(map);
      marker.bindPopup(popupText);

      
      if (map.getZoom() === 8 && map.getCenter().equals(L.latLng(43.0, -2.5))) {
          marker.openPopup();
      }
  }

  
  document.addEventListener('DOMContentLoaded', initMap);


  //COMENTARIOS
  document.getElementById('submit-comment').addEventListener('click', function () {
    
    const name = document.getElementById('name').value.trim();
    const rating = document.getElementById('rating').value;
    const comment = document.getElementById('comment').value.trim();

    
    if (!name || !rating || !comment) {
      alert('Por favor, rellena todos los campos antes de comentar.');
      return;
    }

    const newComment = document.createElement('div');
    newComment.classList.add('comment');
    newComment.innerHTML = `
      <strong>${name}:</strong> 
      <span>${rating}</span>
      <p>${comment}</p>
    `;

    const commentsList = document.getElementById('comments-list');
    commentsList.appendChild(newComment);

    document.getElementById('add-comment-form').reset();

  });
</script>


</body>
</html>
	