{% load static %}

<!DOCTYPE HTML>
<html>

<head>
  <title>Mamma Mia Restaurante</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" title="style" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  
</head>

<body>
  <div id="main">
    <div id="header">            
      <br>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="{% url 'index' %}">Home</a></li>
        </ul>
        <div id="logo">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <img id="logob" src="{% static 'style/logoBlanco.png' %}" alt="logoBlanco">
      </div>  
      </div>
    </div>

    <div id="site_content">
      <br><br><br>

      <div id="bloque"> 
        <div id="portada">
          <img id="portadaFoto" src="{% static 'style/portada.jpeg' %}" alt="portada">
        </div>

        <div id="description">
          <p id="desc">MammaMia nace del amor por Italia, su rica tradición culinaria y su cálida manera de vivir la vida. Cada plato de pasta, elaborado con dedicación, 
          busca transportarte a momentos entrañables en torno a una mesa, rodeado de risas, familia y buenos amigos. <br><br>
          MammaMia es hogar, es vecindario, y aspira a ser el rincón donde disfrutes de la auténtica cocina italiana, servida con pasión y un toque de cariño. 
          Desde nuestra cocina artesanal, queremos invitarte a formar parte de este delicioso viaje que combina sabores, emociones y memorias inolvidables. 
          <br><br> Benvenuti a casa!
          </p>
        </div>
      </div>

      <div>{%block contenido%} {%endblock%}</div>
    </div>



    <div id="footer">
          <div id="horario-ubicacion">
      <div id="info-horario">
          <h2>Horario y Ubicación</h2>
          <p>Lunes a domingo: <strong>12:00-16:00 / 19:00-00:00</strong></p>
          <hr>
          <ul id="contactos">
              <li><img src="{% static 'style/instagram_icon.png' %}" alt="Instagram">@mammamiarestaurante</li>
              <li><img src="{% static 'style/whatsapp_icon.png' %}" alt="WhatsApp">+64 624 138 246</li>
              <li><img src="{% static 'style/x_icon.png' %}" alt="X">@mamma_mia_restaurante</li>
          </ul>
      </div>
      <div id="map-container">
        <div id="map" style="width: 100%; height: 300px; margin-top: 20px;"></div>
          
      </div>
    </div>
      Copyright &copy; Mamma Mia Restaurante 
    </div>

    
  </div>


<!-- MAPA FOOTER-->
<script>
  function initMap() {
      
      const map = L.map('map').setView([43.262907, -2.947408], 17);

      
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '© OpenStreetMap contributors'
      }).addTo(map);

      
      addMarker(map, [43.262907, -2.947408], 'Bilbao: San Mamés');
      addMarker(map, [43.462442, -3.799009], 'Santander: Paseo de Pereda');
      addMarker(map, [42.816590, -1.643463], 'Pamplona: Plaza del Castillo');
  }

  
  function addMarker(map, coordinates, popupText) {
      const marker = L.marker(coordinates).addTo(map);
      marker.bindPopup(popupText);

      
      if (map.getZoom() === 8 && map.getCenter().equals(L.latLng(43.0, -2.5))) {
          marker.openPopup();
      }
  }

  
  document.addEventListener('DOMContentLoaded', initMap);

</script>


</body>
</html>
	