{% extends 'base.html' %}


{% block contenido %}
<div id="contenidos">

    <h1><strong>Menú {{ menu.nombre }}</strong></h1>
    <p>{{ menu.descripcion }}</p>
    <p><strong>{{ menu.precio }} €</strong> </p>


    <ul>
        {% for plato in menu.platos.all %}
            {% if plato.orden == 0 %}
                <li>
                    <p>{{ plato.tipo }}</p>
                    <a href="{% url 'detallePLATOConPlantillas' plato.id %}">
                        {{ plato.nombre }}
                    </a>
                </li>
            {% elif plato.orden == 1 %}
                <li>
                    <p>{{ plato.tipo }}</p>
                    <a href="{% url 'detallePLATOConPlantillas' plato.id %}">
                        {{ plato.nombre }}
                    </a>
                </li>
            {% elif plato.orden == 2 %}
                <li>
                    <p>{{ plato.tipo }}:</p>
                    <a href="{% url 'detallePLATOConPlantillas' plato.id %}">
                        {{ plato.nombre }}
                    </a>
                </li>
            {% elif plato.orden == 3 %}
                <li>
                    <p>{{ plato.tipo }}</p>
                    <a href="{% url 'detallePLATOConPlantillas' plato.id %}">
                        {{ plato.nombre }}
                    </a>
                </li>
            {% endif %}
        {% empty %}
            <li>No hay platos disponibles.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
